[Unit]
Description=Activate Window Recorder
After=dbus.service

[Service]
User=%i
ExecStart=/usr/bin/wndrecd /home/%i/.wndrecd.txt

[Install]
WantedBy=default.target