[Unit]
Description=Activate Window Recorder
Requires=dbus.service


[Service]
ExecStartPre=/bin/bash -c "DAY=$(tail -n1 $HOME/.wndrecd.txt | cut -d, -f1); [[ $DAY == \"\" ]] || echo \"$DAY, stopped\" >> $HOME/.wndrecd.txt"
ExecStart=/usr/bin/wndrecd /home/%i/.wndrecd.txt
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target